.footer {
  background-color: $light-bege;
  &__heading {
    margin: 9.3rem 0 0 16.5rem;
    @media screen and (max-width: $small) {
      margin: 2.5rem 0;

      font-size: 2rem;
      line-height: 2.4rem;
      text-align: center;
    }
  }
  &__links-menu {
    margin: 0 auto;
    margin-top: 5.1rem;
    margin-bottom: 18.9rem;
    width: 80%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @media screen and (max-width: $small) {
      margin: 0 4.2rem;
    }
  }
}

.links-menu {
  padding: 0;
  list-style: none;
  &__link {
    margin-bottom: 1.4rem;
  }
  @media screen and (max-width: $small) {
    flex: 1 1 40%;
  }
}

.link a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $dark-brown;
}
