<section class="about">
  <h2 class="about__heading">About</h2>
  <p class="about__text">Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam
    penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur
    adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis.

  </p>
  <p class="about__text">Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in
    rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas
    porttitor
    nulla nulla egestas odio pharetra egestas aliquet mollis. diam penatibus aliquet tellus, in rutrum augue.
    Pellentesque.</p>
</section>