<section class="about" id="about">
  <h2 class="about__heading" id="aboutHeader">About me</h2>
  <p class="about__text" id="aboutText1">I making sites and web apps. I have 1+ years of experience in web dev. Just
    started this
    portfolio site, more projects will be added soon.

  </p>
  <p class="about__text" id="aboutText2">If you want a site or an app you can contact me with buttons below this page.
  </p>
</section>