<h2 class="footer__heading">Get in Touch</h2>
<div class="footer__links-menu links-menu">
  <ul class="links-menu links-menu--sites">
    <li class="links-menu__link link"><a href="#">GitHub</a></li>
    <li class="links-menu__link link"><a href="#">UpWork</a></li>
    <li class="links-menu__link link"><a href="#">LinkedIn</a></li>
  </ul>
  <ul class="links-menu links-menu--socials">
    <li class="links-menu__link link"><a href="#">Facebook</a></li>
    <li class="links-menu__link link"><a href="#">Instagram</a></li>
    <li class="links-menu__link link"><a href="#">VK</a></li>
  </ul>
  <ul class="links-menu links-menu--contacts">
    <li class="links-menu__link link"><a href="tel:+79991361361">+7 (999) 136-136-1</a></li>
    <li class="links-menu__link link"><a href="mailto:dmalashin@gmail.com">d.malashin@gmail.com</a></li>
    <li class="links-menu__link link"><a href="#">Telegram</a></li>
  </ul>
</div>