<h2 class="footer__heading">Get in Touch</h2>
<div class="footer__links-menu links-menu">
  <ul class="links-menu links-menu--sites">
    <li class="links-menu__link link"><a href="https://github.com/d-malashin">GitHub</a></li>
    <li class="links-menu__link link"><a href="https://www.upwork.com/o/profiles/users/~01bd58e913516e596a/">UpWork</a></li>
    <li class="links-menu__link link"><a href="https://www.linkedin.com/in/denis-malashin/">LinkedIn</a></li>
  </ul>
  <ul class="links-menu links-menu--socials">
    <li class="links-menu__link link"><a href="https://www.facebook.com/d.malashin">Facebook</a></li>
    <li class="links-menu__link link"><a href="https://www.instagram.com/denis.malashin/">Instagram</a></li>
    <li class="links-menu__link link"><a href="https://vk.com/denis_malashin">VK</a></li>
  </ul>
  <ul class="links-menu links-menu--contacts">
    <li class="links-menu__link link"><a href="tel:+79991361361">+7 (999) 136-136-1</a></li>
    <li class="links-menu__link link"><a href="mailto:dmalashin@gmail.com">d.malashin@gmail.com</a></li>
    <li class="links-menu__link link"><a href="https://t.me/dmalashin">Telegram</a></li>
  </ul>
</div>