<nav class="header__menu menu">
  <div class="menu__logo"></div>
  <ul class="menu__items">
    <li class="menu__item">Home</li>
    <li class="menu__item">About</li>
    <li class="menu__item">Skills</li>
    <li class="menu__item">Portfolio</li>
    <li class="menu__item">Contact</li>
  </ul>
</nav>
<h1 class="header__heading">Hi, It’s Théophile Seyrig</h1>
<p class="header__subheading">Designer from Porto, Portugal</p>
<a href="#portfolio" class="header__link">Latest works</a>