<section class="portfolio">
  <h2 class="portfolio__heading">Portfolio</h2>
  <div class="portfolio__info">
    <p class="portfolio__subheading">UX Research</h2>
    <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus
      id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.</p>
  </div>
  <div class="portfolio__slider slider">
    <div class="slider__slide">
      <a href="https://d-malashin.github.io/simple-landing-page/">
        <img src="../assets/img/thumbnails/portfolio_thumbnail_1.png" alt="">
      </a>
      <a href="https://d-malashin.github.io/simple-landing-page/">
        <img src="../assets/img/thumbnails/portfolio_thumbnail_1.png" alt="">
      </a>
    </div>
  </div>
</section>